@charset "UTF-8";
@font-face {
    font-family: letra;
    src: url(pacote-projeto-d010/fontes/idroid.otf);
}

header{
    background-image: linear-gradient(rgb(133, 219, 133), rgb(34, 69, 34));
    text-align: center;
    margin: 0px -10px;
    padding-bottom: 15px;
    
    
} 
header h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    color: white;
    font-size: 1.3em;
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-align: center;
}
nav{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0px 50px;
    
}
main h1{
    font-family: letra;
    color: rgb(50, 100, 50);
    margin-top: 0px;
    padding: 15px 20px;
    font-size: 1.8em;
}
main h2{
    font-family: letra;
    color: rgb(50, 100, 50);
    margin-top: 20px;
    padding: 5px 30px 5px 30px;
    background-image: linear-gradient(to right, rgb(133, 219, 133), rgb(255, 255, 255));
    background-position-x: 20px;
    
}
body{
    text-align: justify;
    background-color: rgb(133, 219, 133);
}

p{
    text-indent: 40px;
    padding: 0px 20px 0px 20px;
}